*~
.ipynb_checkpoints/
__pycache__/
*/__pycache__/
*/*/__pycache__/
output/summaries.txt
output/summary/
output/string-columns/
output/vat-data/
output/vat-pics/
all-but-data/
data/enig-2007
data/enph-2017
data/vat
data/*.zip
python/temp.py
temp
docker/commands-laptop.txt

tex/tables/
tex/*.aux
tex/*.log
tex/*.pdf
tex/*.spl
tex/*.aux


# TODO ? it would be nice not to have to list these
  # instead, move them to a separate Git repo hosted by Javeriana, not Github
data-doc/Listado completo IVA Canasta Familiar.pdf
data-doc/Nacional, Calidad de Vida, 2014/
data-doc/enig-2007/
data-doc/enph-2017/
