yfinance
yahoofinancials
weightedcalcs
csv-diff
icecream
ipython
pydotplus
graphviz
django-stubs
ipython
scipy
django
coconut
mypy
coconut[mypy]
pandas-stubs
types-requests
pandas
matplotlib
openpyxl
filelock
pytest
xlrd
